<!DOCTYPE html>
<html>
  <head>
    <title>SMG 广播制作科排班提醒系统</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/jqueryui/css/cupertino/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" >
  </head>
  <body>
  	<h1>SMG 广播制作科排班提醒系统</h1>
  	<ul>
      <li><a href='/'>排班结果</a></li>
    	<li><a href='/users'>人员信息</a></li>
    	<li><a href='/alerts'>岗位提醒</a></li>
    	<li><a href='#' id="arrange">排班设置</a></li>
    	<li><a href='/logs'>发送日志</a></li>
      <br />
      <p></p>
    </ul>